#search-form {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
  padding: 6% 10%;
  box-shadow: 10px 10px 5px grey;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #search-form {
      width: 100%;
      padding: 10% 4%;
    }

    #submit-btn {
      margin-right: 1% !important;
    }
}

.active-nav-btn {
  background-color: #5A87A2 !important;
  color: #ffffff !important;
}