#card-container {
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #card-container {
      margin: 0 auto;
      width: 100% !important;
      padding: 15px 20px !important;
    }

    #card-container h1, h2 {
      font-size: 19px;
    }

    #degree-icon {
      position: relative;
      bottom: 15px;
    }

    #state-seal {
      height: 120px;
      width: 120px;
      position: relative;
      right: 26px;
      top: 28px;
    }

    .weather-data-text {
      margin-top: 20px;
      font-size: 10px;
    }

    .weather-icon {
      width: 20px;
      height: 20px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { 
  #card-container {
    margin: 0 auto;
    width: 75% !important;
    padding: 15px 20px !important;
  }

  #card-container h1, h2 {
    font-size: 22px;
  }

  #degree-icon {
    position: relative;
    bottom: 15px;
  }

  #state-seal {
    height: 180px;
    width: 180px;
    position: relative;
    right: 62px;
  }
}