<div id="card-container" class="p-5 w-75 d-flex justify-content-center flex-column rounded border border-dark light-blue-theme">
  <div class="row">
    <div class="col-8">
      <div class="mb-3">
        <h1>{{ city }}</h1>
      </div>
      <div class="mb-3">
        <h1>{{ timezone }}</h1>
      </div>
      <div class="mb-3 d-flex justify-content-start">
        <div class="mr-1">
          <h1>{{ temperature }}</h1>
        </div>
        <div class="mr-1">
          <img [src]="DEGREE_PNG" width="15px" height="15px">
        </div>
        <div>
          <h1>F</h1>
        </div>
      </div>
      <div class="mb-3">
        <h2>{{ summary }}</h2>
      </div>
    </div>
    <div class="col-2">
        <img [src]="stateSeal" height="200px" width="200px">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col icon">
      <div>
        <img 
          [src]="WEATHER_ICON_SOURCES.humidity"
          height="50px" width="50px"
          matTooltip="Humidity"
          [matTooltipPosition]="TOOL_TIP_POSITION"
        >
      </div>
      <div>
        {{ humidity }}
      </div>
    </div>
    <div class="col icon">
      <div>
        <img 
          [src]="WEATHER_ICON_SOURCES.pressure"
          height="50px" width="50px"
          matTooltip="Pressure"
          [matTooltipPosition]="TOOL_TIP_POSITION"
        >
      </div>
      <div>
        {{ pressure }}
      </div>
    </div>
    <div class="col icon">
      <div>
        <img 
          [src]="WEATHER_ICON_SOURCES.windSpeed"
          height="50px"
          width="50px"
          matTooltip="WindSpeed"
          [matTooltipPosition]="TOOL_TIP_POSITION" 
        >
      </div>
      <div>
        {{ windSpeed }}
      </div>
    </div>
    <div class="col icon">
      <div>
        <img
          [src]="WEATHER_ICON_SOURCES.visibility"
          height="50px"
          width="50px"
          matTooltip="Visibility"
          [matTooltipPosition]="TOOL_TIP_POSITION"
        >
      </div>
      <div>
        {{ visibility }}
      </div>
    </div>
    <div class="col icon">
      <div>
        <img
          [src]="WEATHER_ICON_SOURCES.cloudCover"
          height="50px"
          width="50px"
          matTooltip="CloudCover"
          [matTooltipPosition]="TOOL_TIP_POSITION"
        >
      </div>
      <div>
        {{ cloudCover }}
      </div>
    </div>
    <div class="col icon">
      <div>
        <img
          [src]="WEATHER_ICON_SOURCES.ozone"
          height="50px"
          width="50px"
          matTooltip="Ozone"
          [matTooltipPosition]="TOOL_TIP_POSITION"
        >
      </div>
      <div>
        {{ ozone }}
      </div>
      </div>
  </div>
</div>
