<ng-container *ngIf="!isLoading && !isError">
  <ul class="nav nav-tabs mb-5 justify-content-between">
    <div class="form-inline">
      <li class="nav-item">
        <a class="nav-link" (click)="setActiveTab('current')" [ngClass]="{active: activeTab ==='current'}">Current</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setActiveTab('hourly')" [ngClass]="{active: activeTab ==='hourly'}">Hourly</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="setActiveTab('weekly')" [ngClass]="{active: activeTab ==='weekly'}">Weekly</a>
      </li>
    </div>
    <div class="form-inline">
      <li class="nav-item">
          <a class="nav-link twitter-share-button" [href]="twitterUrl" target="'_blank'">tweet</a>
      </li>
      <button class="btn btn-sm btn-light" (click)="toggleFavorite()">
        <i class="material-icons active-favorite" *ngIf="isFavorited; else elseBlock">star</i>
        <ng-template #elseBlock><i class="material-icons">star_border</i></ng-template>
      </button>
    </div>
  </ul>
  <app-weather-card 
    *ngIf="activeTab ==='current'"
    [timezone]=weatherData?.timezone
    [city]=city
    [stateSeal]=stateSeal
    [temperature]=weatherData?.currently?.temperature
    [summary]=weatherData?.currently?.summary
    [humidity]=weatherData?.currently?.humidity
    [pressure]=weatherData?.currently?.pressure
    [windSpeed]=weatherData?.currently?.windSpeed
    [visibility]=weatherData?.currently?.visibility
    [cloudCover]=weatherData?.currently?.cloudCover
    [ozone]=weatherData?.currently?.ozone
  >
  </app-weather-card>
  <app-hourly-weather
    *ngIf="activeTab ==='hourly'"
    [hourlyDataSet]=hourlyDataSet
  >
  </app-hourly-weather>
  <app-weekly-weather
    *ngIf="activeTab ==='weekly'"
    [weeklyDataSet]=weeklyDataSet
    [city]=city
    [lat]=lat
    [lon]=lon
  >
  </app-weekly-weather>
</ng-container>
