<ng-container *ngIf="!isLoading">
  <ul class="nav nav-tabs mb-5">
    <li class="nav-item">
      <a class="nav-link" (click)="setActiveTab('current')" [ngClass]="{active: activeTab ==='current'}">Current</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setActiveTab('hourly')" [ngClass]="{active: activeTab ==='hourly'}">Hourly</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="setActiveTab('weekly')" [ngClass]="{active: activeTab ==='weekly'}">Weekly</a>
    </li>
  </ul>
  <app-weather-card 
    *ngIf="activeTab ==='current'"
    [timezone]=weatherData?.timezone
    [city]=city
    [stateSeal]=stateSeal
    [temperature]=weatherData?.currently?.temperature
    [summary]=weatherData?.currently?.summary
    [humidity]=weatherData?.currently?.humidity
    [pressure]=weatherData?.currently?.pressure
    [windSpeed]=weatherData?.currently?.windSpeed
    [visibility]=weatherData?.currently?.visibility
    [cloudCover]=weatherData?.currently?.cloudCover
    [ozone]=weatherData?.currently?.ozone
  >
  </app-weather-card>
  <app-hourly-weather
    *ngIf="activeTab ==='hourly'"
    [hourlyDataSet]=hourlyDataSet
  >
  </app-hourly-weather>
</ng-container>
